<% layout('layouts/boilerplate') %>
<div id="map" style="width: 100%; height: 500px"></div>
<h1>All Campgrounds</h1>
<% for(let campground of campgrounds){ %>
    <div class="card mb-3 campgroundCard">
        <div class="row">
            <div class="col-md-4">
                <% if(campground.images.length) {%> 
                    <img class="img-fluid" src="<%= campground.images[0].url %>" alt="">
                <% } else { %>
                    <img class="img-fluid" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.1xl6F1ye0DD6elN8pdJNGAHaE8%26pid%3DApi%26h%3D160&f=1&ipt=4e778062066487202ef949fbda58dfba3ebc32cb25b30b3f79e8ab7c2b45d4ee&ipo=images" alt="">
                <% } %>  
            </div>
            <div class="col-md-8">
                <h5 class="card-title"><%= campground.title %> </h5>
                <p class="card-text"><%= campground.description %> </p>
                <p class="card-text"><small class=" text-secondary"><%= campground.location %></small></p>
                <a href="/campgrounds/<%= campground.id %>" class="btn btn-primary">View <%= campground.title %></a>
            </div>
        </div>
    </div>
<% } %> 
<div class="d-flex">
    <button class="flex-grow-1 btn btn-success loadButton">Load More?</button>
</div>
<script>
    const mapToken = '<%- process.env.MAPBOX_TOKEN %>';
    const campgrounds = {features: <%-JSON.stringify(campgrounds)%>}
</script>
<script src="/js/clusterMap.js"></script>
<script src="/js/indexPage.js"></script>

